{% extends 'main/index.html' %}

{% block title %}Acerca de mí - Neogym{% endblock %}

{% block content %}
<div class="container">
    <h2>Acerca de mí</h2>
    <p>¡Hola! Soy Damian Mayer, y soy el creador de Neogym. Aquí hay un poco de información sobre mí:</p>
    <ul>
        <li>Nombre: Damian</li>
        <li>Email: damian.matias.mayer@gmail.com</li>
        <li>Teléfono: 123456789</li>
        <li>Descripción: Soy una persona a la que le gustan los deportes y aprender diaramente, estoy en busqueda de la mejora personal dia a dia. Me interese en la programacion hace ya un tiempo y empece a practicar por mi cuenta, aunque aun no sea muy bueno en este campo, trato de mejorar dia a dia! fue un gusto para mi poder participar de este curso.</li>
    </ul>
</div>
{% endblock %}
