{% extends 'main/index.html' %}
{% load static %}
{% block title %}Contact Us - Neogym{% endblock %}

{% block content %}
<section class="contact_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <h2>Contact Us</h2>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
