<!-- main/templates/main/search.html -->
{% extends 'main/index.html' %}
{% block title %}Search - Neogym{% endblock %}

{% block content %}
<section class="search_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <h2>Search</h2>
                    <form method="GET" action="{% url 'search' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}