{% extends 'main/index.html' %}

{% block title %}
Why Us - Neogym
{% endblock %}

{% block content %}
<section class="why_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Why Choose Us?
      </h2>
    </div>
    <div class="why_container">
      <div class="why_box">
        <img src="{% static 'images/s1.png' %}" alt="">
        <h5>
          Professional Trainers
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit metus vel magna dignissim varius.
        </p>
      </div>
      <div class="why_box">
        <img src="{% static 'images/s2.png' %}" alt="">
        <h5>
          Modern Equipment
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit metus vel magna dignissim varius.
        </p>
      </div>
      <div class="why_box">
        <img src="{% static 'images/s3.png' %}" alt="">
        <h5>
          Personalized Fitness Plans
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit metus vel magna dignissim varius.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
